{% extends 'tweet/index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div class="container">
  <br/>
  <div class="card">
    <div class="card-body">
      <section>
        <form  action="{% url 'home' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.as_p}}

          <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
      </section>
    </div>
  </div>
  <br/>
      {% for tweet in tweets %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'profile' %}">{{tweet.name}}</a></h5>
          <h5>{{tweet.created_at}}</h5>
          <p class="card-text">{{tweet.body}}</p>
          {% if tweet.image %}
            <img width="400px" src="{{ tweet.image.url }}">
          {% endif %}
          <br/>
          <a href="{% url 'update_tweet' tweet.pk %}">Edit</a>
        </div>
      </div>
      {% endfor %}

    </div>
  </body>
</html>
{% endblock content %}
