{% extends 'tweet/index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div class="container">
      <br/>
    <div class="row">
      <div class="col-10">
        <section>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.body}}<br/>
            {{form.image}}<br/>

            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </section>
      </div>
    </div>
      <br/>

</div>
  </body>
</html>
{% endblock content %}
